.css-i4bv87-MuiSvgIcon-root {
  font-size: 2rem !important;
}

body {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
}

th {
  text-align: left;
  font-size: 20px;
}

tr {
  text-align: left;
  font-size: 20px;
}

li {
  list-style-type: none;
}

h1 {
  margin: 0;
  margin-bottom: 1em;
}

h2 {
  margin: 0;
}

p {
  font-size: 18px;
}

.EvenRow {
  background-color: #F0F0F0;
}

.OddRow {
  background-color: 	#FFFFFF;
}

.Title {
  margin: 0;
  text-align: center;
}

.Course {
  margin-left: 5em;
}

.Course .Title {
  color: #1E90FF;
  margin-left: "25px";
}

/* Form */
.Form {
  background-color: #B3E0FF;
  text-align: center; 
  border-radius: 20px;
}

.Form li {
  display: inline-block;
  text-align: center;
  margin: 1em 1em
}

.Form li label {
  display: block;
  font-weight: bold;
}

input[type='number']{
  width: 80px;
} 

/* App */
.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 360px 1fr;
}

/* Session message */
.Session {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: right;
  padding: 2em;
}

.SignOut {
  text-decoration: none;
  color: #0849A3;
}

.SignOut:hover {
  cursor: pointer;
  font-weight: bold;
}

/* Main content */
.Content {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 2em;
  padding-top: 0em;
}

/* Navigation Panel */
.Sidebar {
  height: 100%;
  position: fixed;
  width: 360px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #B3E0FF;
}

.SidebarList {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 100px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.SidebarList .row:hover {
  cursor: pointer;
  font-weight: bold;
}

.SidebarList #active {
  font-weight: bold;
}

.row #icon {
  flex: 25%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 75%;
  display: grid;
  place-items: center start;
  font-size: 20px;
}
