.css-i4bv87-MuiSvgIcon-root {
  font-size: 2rem !important;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 360px 1fr;
}

/* Path message */
.Path {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: left;
  padding: 2em;
}

/* Session message */
.Session {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: right;
  padding: 2em;
}

.SignOut {
  text-decoration: none;
  color: #0849A3;
}

.SignOut:hover {
  cursor: pointer;
  font-weight: bold;
}

/* Main content */
.Content {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 2em;
}

/* Navigation Panel */
.Sidebar {
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #B3E0FF;
}

.SidebarList {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 100px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.SidebarList .row:hover {
  cursor: pointer;
  font-weight: bold;
}

.SidebarList #active {
  font-weight: bold;
}

.row #icon {
  flex: 25%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 75%;
  display: grid;
  place-items: center start;
  font-size: 20px;
}
